body{
    line-height: 1.6em;
    background: #005883;
    max-width: 98%;
    margin: 0 auto;
}

h1{
    font-size: 2.4rem;
    line-height: 1.0em;
}
h2{
    font-size: 1.6rem;
    line-height: 0.5em;
}

.fondoFijo{
    margin: 1px;
    background: #005883;
    padding: 0.5rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.logo-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navegacion ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.navegacion ul li{
    display: inline-block;
    border-right: solid #005883;
}

.navegacion ul li a{
    display: inline-block;
    padding: 10px 15px;
    background-color: #f0f8ff;
    transition: all 0.3s linear;
    border-radius: 4px;
    text-decoration: none;
}

.navegacion ul li a:hover {
    background: darkcyan;
}

.contenedorSection{
    background-color: lightblue;
    padding-top: 11.8rem;
}

.central{
    background-color: lightsalmon;
    display: inline-block;
    max-width: 66%;
}

aside{
    background-color: limegreen;
    display: inline-block;
    max-width: 33.5%;
}